body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: normal;
}

#navbar {
  background-color: var(--navbar-color);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
}

#navbar a {
  padding: 0px 15px;
}

#sign-in-btn {
  display: inline-block;
  padding: 10px !important;
  margin-right: 30px;
  box-sizing: border-box;
  background-color: var(--google-blue);
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

#sign-in-btn:hover {
  text-decoration: none;
  box-shadow: 1px 1px 2px var(--google-shadow);
}

#main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  z-index: 10;
}

#main-content-logo {
  width: 300px;
}

#search-bar {
  display: flex;
  height: 30px;
  width: 700px;
  margin-top: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: var(--google-border);
  padding: 10px;
  justify-content: center;
  align-content: center;
  flex-direction: flex-start;
}


#search-bar:focus-within , #search-bar:hover {
  box-shadow: 2px 2px 10px var(--google-shadow);
}

svg.random-logo {
  opacity: 0.2;
}

.random-logo {
  width: 5%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#search-input {
  position: relative;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  font-size: 17px;
  border-style: hidden;
}

.search-button {
  display: inline-block;
  line-height: 25px;
  background-color: var(--google-gray);
  box-sizing: border-box;
  padding: 10px;
  margin-top: 30px;
  border-width: 1px;
  border-radius: 5px;
  border-style: hidden;
  border-color: var(--google-border);
}

.search-button:hover {
  margin: -1px;
  border-style: solid;
  box-shadow: 1px 1px 1px var(--google-shadow);
}

.header-footer-before {
  float: left;
  text-align: left;
  padding-top: 15px;
  width: 50%;
}

.header-footer-after {
  float: right;
  text-align: right;
  padding-top: 15px;
  width: 50%;
}

.header-footer-before a:hover {
  text-decoration: underline;
}

.header-footer-after a:hover {
  text-decoration: underline;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: var(--google-gray);
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: var(--google-border);
  overflow-x: hidden;
}

#footer a {
  padding: 0px 10px;
}